div {  
    margin: 40px auto;
}
/* Círculo*/
#grafico-01 {
    background-color: rgb(103, 247, 199);
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    float: left;
    margin: 1.5rem;
}
#grafico-01 img {
    width: 100%;
    height: auto;
    float: left;
}
